<footer>
  <div class="container">
    <div id="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.965840213136!2d-38.161581985468686!3d-12.715651491024152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716457745b5691b%3A0xb19cef624282ede3!2sDIPEDRA%20-%20M%C3%A1rmore%2C%20Granitos%20e%20Pedras%20Naturais!5e0!3m2!1spt-BR!2sbr!4v1646200946319!5m2!1spt-BR!2sbr" width="700" height="270" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="footer-info">
      <div class="footer-section">
        <h4>
          <img src="/img/map-marker-icon.png" alt="Sede" class="icon" /> Sede
        </h4>
        <p>R. Cap. Tude, 22 - Barra do Jacuípe - Camaçari – BA, CEP 42831-738</p>
      </div>
      <div class="footer-section">
        <h4>Redes Sociais</h4>
        <div class="social-icons">
          <a href="https://www.instagram.com/dipedra/" target="_blank">
            <img src="/img/instagramIcon.png" alt="Instagram" />
          </a>
          <a href="https://wa.me/557136781450" target="_blank">
            <img src="/img/whatsicon.png" alt="WhatsApp" />
          </a>
        </div>
      </div>
      <div class="footer-section">
        <h4>
          <img src="/img/phone-icon.png" alt="Contato" class="icon" /> Contato
        </h4>
        <p>(71) 3678.1431<br />(71) 3678.1450</p>
      </div>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2024 Dipedra. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>