<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dipedra</title>
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/layout.css" />
<link rel="stylesheet" href="/css/components.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/slider.css" />
<link rel="stylesheet" href="/css/search-grid.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="icon" href="/favicon.png" type="image/png" />