/* search-grid.css */
.search-container {
  text-align: center;
  margin: 20px 0;
}

#search-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filter-section {
  flex: 1;
  margin-right: 10px;
}

.filter-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

.filter-section label {
  display: block;
  margin-bottom: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.image-item {
  text-align: center;
  width: 350px; /* Define uma largura fixa para as caixas */
  height: 300px; /* Define uma altura fixa para as caixas */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.image-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 80%; /* Deixa espaço para o texto abaixo */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assegura que a imagem cubra toda a caixa */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s;
}

.image-container img:hover {
  transform: scale(1.05);
}

.text-container {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.image-item p {
  margin: 0;
  font-size: 25px; /* Aumenta o tamanho do texto */
  color: #000000;
  text-align: center;
}

.showcase h2, .showcase p {
  text-align: center;
  margin: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
    margin-bottom: 20px;
  }

  #search-input {
    width: 80%;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  .image-item {
    width: 200px;
    height: 200px;
  }

  .image-container {
    height: 150px;
  }

  .text-container {
    padding: 5px;
  }
}

@media (max-width: 490px) {
  .image-grid {
    grid-template-columns: 1fr;
    padding: 0 2.5%;
  }

  .image-item {
    width: 95%;
    height: 250px;
    margin: 0 auto;
  }

  .image-container {
    height: 200px;
  }
}
