<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../partials/head', { title: 'Quem Somos' }) %>

<body>
  <%- include('../partials/header') %>

  <main>
    <section class="about-us">
      <div class="container">
        <div class="box about-details">
          <div class="about-us-content">
            <h2>Quem Somos</h2>
            <p>
              A Dipedra atua no segmento de marmoraria, atendendo aos diversos
              nichos da construção civil, desde as grandes obras, fornecendo
              mármores, granitos e serviços em larga escala para as
              construtoras e incorporadoras, bem como aos projetos
              residenciais e comerciais de menor porte, em parceria com
              construtores, engenheiros e arquitetos.
            </p>
            <p>
              Visando a satisfação da nossa clientela, utilizamos tecnologia
              de ponta no desenvolvimento de produtos e serviços inovadores,
              sempre primando pela qualidade e pontualidade da entrega das
              encomendas.
            </p>
            <p>
              Nesse período de atuação no mercado conquistamos um leque seleto
              e abrangente de clientes que confiaram na qualidade dos nossos
              produtos e serviços, dentre os quais citamos as empresas:
            </p>
          </div>
        </div>
        <div class="box clients">
          <h2>Nossos Clientes</h2>
          <ul>
            <li>Consil Empreendimentos;</li>
            <li>Cosbat Empreendimentos;</li>
            <li>Franisa Empreendimentos;</li>
            <li>Gráfico Empreendimentos;</li>
            <li>Moura Dubeux Engenharia;</li>
            <li>MRV Engenharia e Participações;</li>
            <li>Norcon Sociedade Nordestina de Construções;</li>
            <li>Odebrecht Realizações Imobiliárias;</li>
            <li>Queiroz Galvão Desenvolvimento Imobiliário;</li>
            <li>PDG Realty S/A Empreendimentos e Participações.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="values">
      <div class="container">
        <div class="value-item">
          <h4>Missão</h4>
          <p>
            Fornecer produtos e serviços de excelência, superar expectativas e
            encantar o cliente, gerar valores para os acionistas,
            colaboradores, parceiros e a sociedade, preservando o meio
            ambiente e assegurando a sustentabilidade da organização.
          </p>
        </div>
        <div class="value-item">
          <h4>Visão</h4>
          <p>
            Atingir a excelência na logística que envolve o fornecimento do
            produto ao cliente e ser reconhecida como empresa de referência em
            qualidade, inovação e sustentabilidade socioambiental.
          </p>
        </div>
        <div class="value-item">
          <h4>Valores</h4>
          <p>
            Ética | Valores Cristãos | Transparência | Satisfação do Cliente |
            Respeito ao Ser Humano | Inovação | Sustentabilidade
            Socioambiental
          </p>
        </div>
      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
  <script src="/js/scripts.js"></script>
</body>

</html>