<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../partials/head', { title: 'Admin Mostruário' }) %>

<body>
  <main>
    <section class="admin-upload">
      <h2>Admin Mostruário</h2>
      <form id="upload-form" action="/mostruario/upload" method="post" enctype="multipart/form-data">
        <label for="senha">Informe a Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <label for="tipo">Tipo da Pedra:</label>
        <input type="text" id="tipo" name="tipo">

        <label for="nome">Nome da Pedra:</label>
        <input type="text" id="nome" name="nome">

        <label for="classificacao">Classificação da Pedra:</label>
        <input type="text" id="classificacao" name="classificacao">

        <label for="estilo">Estilo do Produto:</label>
        <input type="text" id="estilo" name="estilo">

        <label for="ambiente">Ambiente:</label>
        <input type="text" id="ambiente" name="ambiente">

        <label for="imagem">Selecione a Imagem:</label>
        <input type="file" id="imagem" name="imagem" accept="image/*" required>

        <button type="submit">Upload</button>
      </form>
      <p id="message"></p>
    </section>
  </main>
  <script>
    document.getElementById('upload-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
      fetch('/mostruario/upload', {
          method: 'POST',
          body: formData
        })
        .then(response => response.text())
        .then(result => {
          document.getElementById('message').innerText = result;
          if (result === "Upload realizado com sucesso!") {
            setTimeout(() => {
              window.location.href = '/mostruario/admin';
            }, 5000);
          }
        })
        .catch(error => console.error('Erro:', error));
    });
  </script>
  <link rel="stylesheet" href="/css/admin.css">
</body>

</html>