<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../partials/head', { title: 'Mostruário' }) %>

<body>
  <%- include('../partials/header') %>
  <main>
    <section class="showcase">
      <h2>Nosso Mostruário</h2>
      <p>Explore a variedade de produtos que oferecemos.</p>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Pesquisar..." />
      </div>
      <div id="filter-container">
        <!-- Caixas de marcação dinâmicas -->
      </div>
      <div class="image-grid" id="product-grid">
        <!-- Aqui vamos colocar as imagens do mostruário -->
      </div>
    </section>
  </main>
  <%- include('../partials/footer') %>
  <script src="/js/mostruario.js"></script>
</body>

</html>