<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../partials/head', { title: 'Mostruário' }) %>

<body>
  <%- include('../partials/header') %>

  <main>
    <section class="showcase">
      <h2>Nosso Mostruário</h2>
      <p>Explore a variedade de produtos que oferecemos.</p>
    </section>
  </main>

  <%- include('../partials/footer') %>
  <script src="/js/scripts.js"></script>
</body>

</html>